{{#if hasHeader}}
  <div class="table-header-container">
    {{header-row columns=columns height=_headerHeight width=headerRowWith }}
  </div>
{{/if}}

{{table-body rows=resolvedContent columns=columns height=height width=rowWidth rowHeight=rowHeight scrollChange=(action "scrollChange")}}
